<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Robot Game
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
        <div>
            <ion-input id="commandInputID" placeholder="Enter Command" [(ngModel)]="inputValue"></ion-input>
            <ion-button id='executeKey' (click)="robotBrain()"> Execute Command</ion-button>        
        </div>
        <p id="output">  {{locationText}} </p>

        <div>

          <ion-grid>
            <ion-row>
              <ion-col size="2" >
                <div>
                  <ion-button (click)="leftKey()" id="leftKey"> Left</ion-button>
                </div>
              </ion-col>
              <ion-col size="2" >
                <div>
                  <ion-button (click)="moveKey()" id="moveKey"> Move</ion-button>
                </div>
              </ion-col>
              <ion-col size="2" >
                <div>
                  <ion-button (click)="rightKey()" id="rightKey"> Right</ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3" >
                <div>
                  <ion-button (click)="placeRandomKey()" id="randomKey"> Place Random</ion-button>
                </div>
              </ion-col>
              <ion-col size="3" >
                <div>
                  <ion-button (click)="reportKey()" id="reportKey"> Report</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
          
        
        <ion-grid id="boardID" class="grid">
                <ion-row >
                  <ion-col size="1" class = "lightgrid" >
                    <div id = "40">
                    </div>
                  </ion-col>
                  <ion-col size="1" class = "darkgrid">
                    <div id = "41">
                    </div>
                </ion-col>
                    <ion-col size="1" class = "lightgrid">
                        <div id = "42">
                            
                        </div>
                      </ion-col>
                      <ion-col size="1" class = "darkgrid">
                        <div id = "43">
                        </div>
                    </ion-col>
                        <ion-col size="1" class = "lightgrid">
                            <div id = "44">
                            </div>
                          </ion-col>
                </ion-row>
                <ion-row >
                    <ion-col size="1" class = "darkgrid">
                      <div id = "30">
                      </div>
                    </ion-col>
                    <ion-col size="1" class = "lightgrid">
                      <div id = "31">
                      </div>
                  </ion-col>
                      <ion-col size="1" class = "darkgrid">
                          <div id = "32"> 
                          </div>
                        </ion-col>
                        <ion-col size="1" class = "lightgrid">
                          <div id = "33">
                          </div>
                      </ion-col>
                          <ion-col size="1" class = "darkgrid">
                              <div id = "34">
                              </div>
                            </ion-col>   
                  </ion-row>


                  <ion-row >
                    <ion-col size="1" class = "lightgrid">
                      <div id = "20">
                      </div>
                    </ion-col>
                    <ion-col size="1" class = "darkgrid">
                      <div id = "21">
                      </div>
                  </ion-col>
                      <ion-col size="1" class = "lightgrid">
                          <div id = "22">
                          </div>
                        </ion-col>
                        <ion-col size="1" class = "darkgrid">
                          <div id = "23">
                          </div>
                      </ion-col>
                          <ion-col size="1" class = "lightgrid">
                              <div id = "24">
                              </div>
                            </ion-col>
                  </ion-row>

                  <ion-row >
                    <ion-col size="1" thickness="2" class = "darkgrid">
                      <div id = "10">
                      </div>
                    </ion-col>
                    <ion-col size="1" class = "lightgrid">
                      <div id = "11">
                      </div>
                  </ion-col>
                      <ion-col size="1" class = "darkgrid">
                          <div id = "12">
                          </div>
                        </ion-col>
                        <ion-col size="1" class = "lightgrid">
                          <div id = "13">
                          </div>
                      </ion-col>
                          <ion-col size="1" class = "darkgrid">
                              <div id = "14">
                              </div>
                            </ion-col>   
                  </ion-row>

                  <ion-row >
                    <ion-col size="1" class = "lightgrid">
                      <div id = "00">
                      </div>
                    </ion-col>
                    <ion-col size="1" class = "darkgrid">
                      <div id = "01">
                      </div>
                  </ion-col>
                      <ion-col size="1" class = "lightgrid">
                          <div id = "02">
                          </div>
                        </ion-col>
                        <ion-col size="1" class = "darkgrid">
                          <div id = "03">
                          </div>
                      </ion-col>
                          <ion-col size="1" class = "lightgrid">
                              <div id = "04">
                              </div>
                            </ion-col>
                  </ion-row>
          </ion-grid>
</ion-content>
#core.css
