.welcome-icon {
    max-width: 80px;
    margin: 0 auto;
}
.grid {
    border-color: black;

}

.lightgrid {
    background-color: grey;
    height: 70px;
    width: 70px;
}

.darkgrid {
    height: 70px;
    width: 70px;
    background-color: darkgrey;
}

