<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Robot Game
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
        <div>
            <ion-input placeholder="Enter Command" [(ngModel)]="inputValue"></ion-input>
            <ion-button (click)="robotBrain()"> Execute Command</ion-button>        
        </div>
        <p>  {{locationText}} </p>

        <P><br><br>AVAILABLE COMMANDS: <br>
           - PLACE X,Y,DIRECTION (NORTH,SOUTH,EAST,WEST) <br>
           - MOVE <br>
           - RIGHT <br>
           - LEFT <br>
           - REPORT
        </P>
            
</ion-content>