<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title text-center>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="vertical-center ion-padding-horizontal" text-center>
        <form [formGroup]="forgotForm">
            <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" formControlName="email" id="email"></ion-input>
            </ion-item>
        </form>
        <div class="error" *ngIf="errors.length > 0" id="errors">
            <ul>
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
        </div>
        <div class="ion-padding-vertical">
            <ion-button color="primary" (click)="validate()" id="resetPasswordButton">
                Reset Password
            </ion-button>
        </div>
    </div>
</ion-content>