<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Welcome
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center>
    <div class="vertical-center">
        <div class="ion-padding-vertical">
            This is an Ionic Boilerplate.
        </div>
        <div>
            <ion-button color="primary" [routerLink]="['/login']" id="next-page-button">
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                Next Page
            </ion-button>
        </div>
    </div>
</ion-content>